@import "../../styles/variables.scss";
.heading {
    font-size: 28px;
    font-weight: 600;
    color: $color_bg_primary_dark;
    padding-bottom: 25px;
}

.sectionStyle {
    padding: 35px 0px 0px 0px;
}