
@import "../../styles/variables.scss";
.SectionSetup {
    padding: 56px 220px;
}

.item {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .5px;
    color: $color_text_dark_three;
    cursor: pointer;
}

@media screen and (min-width: 250px) and (max-width: 425px) {
    .SectionSetup {
        padding: 46px 0px;
    }

    .item {
        font-size: 8px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .SectionSetup {
        padding: 46px 0px;
    }

    .item {
        font-size: 10px;
    }
}

@media screen and (min-width: 1442px) and (max-width: 2560px) {
    .item {
        font-size: 20px;
    }
}