.HcardTwoSetUp {
    border: 0px !important;
    width: 90%;
    margin: 5%;
}

.titleSetup {
    font-size: 20px;
    text-transform: none;
    letter-spacing: 0;
    margin-bottom: 9px;
    color: #2d3274;
    font-weight: 600;
    cursor: pointer;
}

.desSetup {
    font-size: 14px;
    color: #63666d;
}

.icon {
    color: #2d3274;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.iconSetup {
    padding-bottom: 20px;
}

.containerSet {
    padding: 20px;
}