.mainContainerSet {
    padding: 60px 0px 20px 0px;
}

.icons {
    margin: 1%;
    cursor: pointer;
}

.icons:hover {
    color: #3a5883;
}

.prefixCount {
    font-size: 25px;
    vertical-align: sub;
}

.authorSet {
    top: -18px;
    position: relative;
}

.authorDes {
    color: #b1b1b1;
    font-family: "Asap", sans-serif;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 9px;
    letter-spacing: .5px;
}

.authorName {
    font-size: 26px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.2;
    margin-bottom: 9px;
    font-weight: 700;
}

.secondartText {
    color: #7a7a7a;
    line-height: 1.7;
    font-size: 16px;
    margin: 0 18%;
    padding-bottom: 26px;
    font-family: "Open Sans", sans-serif;
}

.topSectionTitle {
    margin: 2%;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sectionTop {
    padding: 10px 0px 68px 0px;
}

.hDivider {
    width: 80%;
    border-top: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    position: relative;
}

.profileIMG {
    display: block;
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.profileIMGOne {
    display: block;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    top: -82px;
    left: 46%;
    position: relative;
}

.replySet {
    margin: 3% 11%;
}

.pageToggleSet {
    margin: 3% 11%;
    width: 78%;
}

.responseTitle {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 55px;
}

.subText {
    color: #7a7a7a;
    line-height: 1.7;
    font-size: 16px;
    padding-bottom: 26px;
    font-family: "Open Sans", sans-serif;
}

.replyBtn {
    color: #bcbcbc;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.authorSectionTwo {
    margin: 0% 0% 0% 5%;
}

@media screen and (min-width: 225px) and (max-width: 580px) {
    .profileIMGOne {
        height: 70px;
        width: 70px;
        top: -53px;
        left: 38%;
    }
}

@media screen and (min-width: 225px) and (max-width: 765px) {
    .authorSectionTwo {
        margin: 5% 0% 0% 0%;
    }

    .replyBtn {
        font-size: 12px;
        padding-top: 10px;
    }

    .responseTitle {
        margin-top: 32px;
    }
}

@media screen and (min-width: 582px) and (max-width: 768px) {
    .profileIMGOne {
        top: -74px;
        left: 43%;
    }
}