.imageSection {
    height: 500px;
}

.imgSetup {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.des {
    font-size: 14px;
    font-style: italic;
    color: #63666d;
    line-height: 1.7;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}