@import "../../styles/variables.scss";
.imgs {
    left: 0;
    top: -10vmin;
    z-index: 5;
    position: relative;
    width: 90%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.title {
    font-size: 26px;
    font-weight: 600;
    color: $color_bg_primary_dark;
    padding-bottom: 30px;
}

.description {
    font-size: 16px;
    color: $color_text_dark_three;
    line-height: 1.7;
}

.setContentGrp {
    padding: 40px 25px;
}

.grupTextSection {
    padding-top: 30px;
}

.grupTextSetup {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $color_bg_primary_dark;
    font-weight: 400;
}

.gruptextTwo {
    font-size: 16px;
    padding-left: 20px;
    color: $color_text_dark_three;
    font-weight: 600;
}

@media screen and (min-width: 1442px) and (max-width: 2560px) {
    .title {
        font-size: 34px;
    }

    .description {
        font-size: 20px;
    }

    .grupTextSetup {
        font-size: 22px;
    }

    .gruptextTwo {
        font-size: 19px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .description {
        font-size: 14px;
    }

    .grupTextSection {
        padding-top: 5px;
    }

    .title {
        font-size: 24px;
        padding-bottom: 18px;
    }

    .setContentGrp {
        padding: 15px 25px;
    }

    .imgs {
        top: -8vmin;
        height: 100%;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .setContentGrp {
        padding: 5px 10px;
    }

    .title {
        font-size: 18px;
        padding-bottom: 10px;
    }

    .description {
        font-size: 12px;
    }

    .grupTextSection {
        padding-top: 5px;
    }

    .grupTextSetup {
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .gruptextTwo {
        font-size: 12px;
    }
}

@media screen and (min-width: 225px) and (max-width: 425px) {
    .setContentGrp {
        padding: 15px 25px;
    }

    .title {
        font-size: 22px;
        padding-bottom: 14px;
    }

    .description {
        font-size: 12px;
    }

    .grupTextSection {
        padding-top: 5px;
    }

    .grupTextSetup {
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .gruptextTwo {
        font-size: 12px;
    }
}