.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 0px;
    grid-auto-flow: dense;
    cursor: pointer;
}

.container img {
    width: 100%;
    height: 100%;
}

.horizontal {
    grid-column: span 1;
}

.horizontalTwo {
    grid-column: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

.desStyle {
    padding: 30px 0px;
    color: #63666d;
    line-height: 1.7;
    font-size: 16px;
}

@media screen and (min-width: 1442px) and (max-width: 2560px) {

    .container {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-auto-rows: 210px;
    }
}

@media screen and (min-width: 770px) and (max-width: 1119px) {

    .container {
        grid-template-columns: repeat(auto-fit, minmax(133px, 1fr));
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    .container {
        grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
        grid-auto-rows: 110px;
    }
}

@media screen and (min-width: 225px) and (max-width: 425px) {

    .container {
        grid-template-columns: repeat(auto-fit, minmax(49px, 1fr));
        grid-auto-rows: 74px;
    }
}