@import "../../styles/variables.scss";
.heading {
    font-size: 27px;
    font-weight: 700;
    color: $color_bg_primary_dark;
    padding-bottom: 40px;
}

.paragraph {
    color: #717479;
    line-height: 1.7;
    font-size: 18px;
    padding: 0px 20px 20px 20px;
}

@media screen and (min-width: 225px) and (max-width: 765px) {
    .heading {
        font-size: 24px;
    }

    .paragraph {
        font-size: 16px;
    }
}