@import "../../styles/variables.scss";
.heading {
    font-size: 22px;
    color: $color_bg_primary_dark;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 20px;
    line-height: 1.2;
    font-weight: 700;
}

.description {
    font-size: 17px;
    color: #7a7a7a;
    font-family: "Open Sans", sans-serif;
    line-height: 1.7;
    margin-bottom: 20px;
}

.listItem {
    font-size: 16px;
    padding-bottom: 5px;
    color: #7a7a7a;
    font-family: "Open Sans", sans-serif;
}