/* Example CSS for the cookie banner */

@import "../../styles/variables.scss";

  .cookie-container{
    align-items: center;
    background-color:$color_bg_primary_light;
    bottom: 0;
    box-shadow: 4px 0 12px rgba(8,46,181,.1);
    display: flex;
    justify-content: space-between;
    left: 50%;
    margin: 0 auto;
    padding: 28px calc(50vw - 615.5px);
    position: fixed;
    transform: translateX(-50%);
    width: 100%;
    z-index: 34;
  }
  .cookie-content{
    p{ 
    font-family:'Saira', sans-serif ;
   color:$color_text_dark_one;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    max-width: 800px;
    white-space: pre-wrap;
  }
}
.cookie-button{
  margin-left: 40px;
  
  button{
    background-color:$color_bg_primary_dark;
    color:$color_text_light_two;
    transition:background-color .3s;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    padding: 18.5px 30px;
    text-transform: none;
    white-space: nowrap;
  }
}
@media(max-width:767px){
  .cookie-container{
  
    padding: 20px 20px;
    display: block;
  }
  .cookie-content{
    p{ 
    
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    max-width: 800px;
    
  }

 }

 .cookie-button{
  display: flex;
  justify-content: flex-end;
  margin: 0;
  button{
    text-align: center;
  }
 }
}