@import "../../styles/variables.scss";

.mainContainer {
    padding: 90px 70px 20px 70px;
}

.titleSetup {
    font-size: 42px;
    font-weight: 550;
    margin-bottom: 5%;
    color: $color_text_dark_one;
    text-transform: none;
    font-family: "Montserrat", sans-serif;
}

@media screen and (min-width: 225px) and (max-width: 768px) {
    .titleSetup {
        font-size: 26px;
    }
}