@import "../../styles/variables.scss";
.accordion_button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 0rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
}
.accordioPara{
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
   -webkit-line-clamp: 8;



}
.accordion_button::after {
    order: -1;
    margin-left: 0;
    margin-right: 0.5em;
    content: "+";
    padding: 20px;
    color: $color_text_light_one;
    background-color: $color_bg_primary_dark;
    transform: scale(1) !important;
}

.accordion_button[aria-expanded="true"]::after {
    content: "-";
    padding: 20px;
    color: $color_bg_primary_dark;
    background-color: $color_text_light_one;
    border: 2px solid $color_bg_primary_dark;
}

// .accordion_button:focus {
//     border-color: $color_text_light_one;
//     outline: 0;
//     box-shadow: none;
// }

.buttontext {
    color: $color_bg_primary_dark;
    font-size: 18px;
    font-weight: 500;
}

.accordionText {
    font-weight: 300;
    line-height: 1.8;
    color: $color_text_dark_three;
}


.accordionBody {
    padding: 1rem 7rem;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
    .accordionBody {
        padding: 1rem 2.8rem;
    }
}