@import "../../styles/variables.scss";

.title {
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 0px;
    text-transform: none;
    color: $color_bg_primary_dark;
    font-family: "Open Sans", sans-serif;

}

.content {
    line-height: 1.8;
    margin-bottom: 20px;
    font-size: inherit;
    font-size: 20px;
    color: $color_text_dark_two;
    font-family: "Open Sans", sans-serif;
}

.highlightContent {
    color: $color_text_dark_one;
}