@import "../../styles/variables.scss";
.imgs {
    width: 90%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.title {
    font-size: 26px;
    font-weight: 600;
    color: $color_bg_primary_dark;
    padding-bottom: 30px;
}

.description {
    font-size: 16px;
    color: $color_text_dark_three;
    line-height: 1.7;
}

.setContentGrp {
    padding: 0px 25px 20px 0px;
}

.grupTextSection {
    padding-top: 30px;
}

.grupTextSetup {
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $color_bg_primary_dark;
    font-weight: 400;
}

.gruptextTwo {
    font-size: 16px;
    padding-left: 20px;
    color: $color_text_dark_three;
    font-weight: 600;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .title {
        font-size: 20px;
        padding: 12px 0px;
    }

    .description {
        font-size: 12px;
    }

    .grupTextSection {
        padding-top: 5px;
    }

    .grupTextSetup {
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .gruptextTwo {
        font-size: 12px;
    }

    .setContentGrp {
        padding: 0px 15px 20px 19px;
    }
}

@media screen and (min-width: 225px) and (max-width: 425px) {
    .title {
        font-size: 20px;
        padding: 12px 0px;
    }

    .description {
        font-size: 12px;
    }

    .grupTextSection {
        padding-top: 5px;
    }

    .grupTextSetup {
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .gruptextTwo {
        font-size: 12px;
    }

    .setContentGrp {
        padding: 0px 15px 20px 19px;
    }
}