

$color_bg_primary_dark: PRIMARYCOLOR;
$color_bg_secondary_dark: SECONDARYCOLOR;


$color_bg_primary_light: PRIMARYLIGHTCOLOR;
$color_bg_secondary_light: SECONDARYLIGHTCOLOR;

$color_bg_primary_dark_shade: PRIMARYSHADECOLOR;
$color_bg_secondary_dark_shade: SECONDARYSHADECOLOR;

$color_bg_primary_light_shade: PRIMARYLIGHTSHADECOLOR;
$color_bg_secondary_light_shade: SECONDARYLIGHTSHADECOLOR;



/*****
Text colors
*/
$color_text_dark_one : TEXTDARKONE;
$color_text_dark_two : TEXTDARKTWO;
$color_text_dark_three : TEXTDARKTHREE;

$color_text_light_one : TEXTLIGHTONE;
$color_text_light_two : TEXTLIGHTTWO;
$color_text_light_three : TEXTLIGHTTHREE;

$color_text_white: $color_text_light_one;
$color_text_black: #000000;
$color_error_text :red;






